# Training data
results/data/
results/model/

# .DS_Store
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Environments
.env
.venv
env/
venv/
ENV/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json
